<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Endpoints</h1>
    <p>
        twitter-info-scrapping.herokuapp.com/api/user/:username
    </p>

    <p>
        twitter-info-scrapping.herokuapp.com/api/log/list
    </p>
</body>

</html>
